$autofill-background: rgb(245, 247, 223);

.form-group {
    label:not(.custom-control-label) {
        position: relative;
        color: rgba($input-color, 0.7);
        pointer-events: none;
        transition: $transition-base;
        transform: translate(
            $input-padding-x,
            $input-padding-y + ($font-size-base * $line-height-lg) +
            $label-margin-bottom
        );
    }

    // small { This tag is removed/added, should not be displayed/not displayed
    //     display: none;
    // }

    input {
        &::placeholder {
            color: transparent;
        }

        &:disabled {
            opacity: 0.7;
        }

        &.is-invalid {
            + small {
                display: block;

                @extend .text-danger;
            }
        }
    }

    textarea {
        resize: none;
    }

    // Fix color change on autofill in chrome
    input,
    textarea {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0px 1000px $autofill-background inset !important;
            transition: none;
            -webkit-text-fill-color: $input-color !important;
        }
    }
    // Fix end

    .custom-control.custom-checkbox,
    .custom-control.custom-radio {
        padding-bottom: $spacer;

        .custom-control-label {
            cursor: pointer;

            &:before {
                border: $custom-control-indicator-border solid
                    $custom-control-indicator-border-color;
            }
        }

        .custom-control-input:disabled ~ .custom-control-label {
            &:before {
                border: $custom-control-indicator-border solid
                    $custom-control-indicator-border-disabled-color;
            }
        }
    }

    .custom-control.custom-radio {
        .custom-control-label {
            &::after {
                background-size: 80% 80%;
            }
        }
    }

    .bootstrap-select {
        *:focus {
            outline: none !important;
        }

        .btn {
            padding: $input-padding-y $input-padding-x;
            font-family: $font-family-base;
            font-weight: $font-weight-base;
            color: rgba($input-color, 0.7);
            text-transform: none;

            &:hover,
            &:focus,
            &:active {
                color: $input-color;
            }
        }

        .dropdown-menu {
            padding-top: 0;
            background-color: $body-bg;
            border: 0;

            a {
                color: $input-color;

                &.active {
                    color: $white;
                }
            }
        }

        &.show {
            .btn {
                color: $input-color;
            }
        }
    }
}

.form-group.js-input-active {
    label:not(.custom-control-label) {
        position: relative;
        font-size: $font-size-sm;
        color: $input-color;
        transform: translate(0, 0);
    }
}

.js-form-response-message {
    padding: 1.5rem;
    background: #afc796;

    p {
        @extend .mb-0;
    }
}