$custom-control-indicator-size: 1.429rem;
$custom-control-indicator-bg: transparent;
$custom-control-indicator-bg-size: 60% 60%;
$custom-control-indicator-box-shadow: 0;
$custom-control-indicator-border: 2px;
$custom-control-indicator-border-color: $input-color;

$custom-control-indicator-disabled-bg: transparent;
$custom-control-label-disabled-color: rgba($input-color, 0.5);
$custom-control-indicator-border-disabled-color: rgba($input-color, 0.5);
$custom-control-indicator-border-disabled-color: rgba($input-color, 0.5);

$custom-control-indicator-checked-color: $input-color;
$custom-control-indicator-checked-bg: transparent;
$custom-control-indicator-checked-disabled-bg: rgba($input-color, 0.5);
$custom-control-indicator-checked-box-shadow: none;

$custom-control-indicator-focus-box-shadow: none;

$custom-control-indicator-active-color: $input-color;
$custom-control-indicator-active-bg: transparent;
$custom-control-indicator-active-box-shadow: none;

$custom-control-gutter: $custom-control-indicator-size + $spacer;
$custom-control-spacer-x: $spacer * 2;
