$logo-height: 3.214rem;
$logo-height-md: 6.071rem;
$padding-top: ($spacer * 2);
$padding-top-md: ($spacer * 4);

header.global-header {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 3;
    height: ($logo-height + $padding-top);
    overflow: hidden;
    background: transparent;
    transition: height 0s ease-in-out 0.4s, background 0.5s ease-in-out;

    .gh-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $padding-top;

        img {
            height: $logo-height;

            @include media-breakpoint-up(md) {
                height: $logo-height-md;
            }
        }

        .btn {
            background: $white;

            &:hover,
            &:active,
            &:focus {
                background: darken($white, 7.5%);
            }
        }

        @include media-breakpoint-up(md) {
            padding-top: $padding-top-md;
        }
    }

    .gh-nav {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s ease-in-out 0.2s;

        ul {
            padding-top: $spacer * 4;
            margin-bottom: 0;
        }

        li {
            margin-bottom: $spacer;
        }

        a {
            margin-bottom: 0 !important;

            @extend h2, .text-white;

            @include media-breakpoint-up(md) {
                font-size: $h1-font-size;
            }
        }
    }

    &.js-navopen {
        position: fixed;
        height: 100%;
        overflow-y: scroll;
        background: rgba($body-color, 0.9);
        transition: height 0s ease-in-out 0s, background 0.4s ease-in-out;

        .gh-nav {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.2s ease-in-out 0.2s;
        }
    }

    @include media-breakpoint-up(md) {
        height: ($logo-height-md + $padding-top-md);
    }
}

body.js-navopen {
    overflow-y: hidden;
}
