<header class="global-header js-header">
    <div class="container">
        <div class="gh-header">
            <a href="#">
                <img src="http://avorum.test/app/uploads/2018/12/avorum_logo_new.svg" alt="logo" class="gh-header__logo" /></a>

            <div class="btn js-navtoggle" role="button"></div>
            <!-- /.btn -->
        </div>
        <!-- /.gh-header -->
        <nav class="gh-nav">
            <ul class="list-unstyled text-center">
                <li><a href="#">Hem</a></li>
                <li><a href="#">Om Avorum</a></li>
                <li><a href="#">För boende</a></li>
                <li><a href="#">Instresseanmälan</a></li>
                <li><a href="#">Felanmälan</a></li>
                <li><a href="#">Våra områden</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <!-- /.list-unstyled -->
        </nav>
        <!-- /.gh-nav -->
    </div>
    <!-- /.container -->
</header>
<!-- /.global-header -->