<!-- Demo template, see From-partial for complete from markup -->
<div class="form-group">
    <label>E-mail</label>
    <input type="email" class="form-control" placeholder="E-mail" data-required="true">
    <!-- /.form-text text-danger -->
  </div>
  <!-- /.form-group -->
</div>
<!-- /.form-group -->
<div class="form-group" data-checkbox-group="pet" data-required="true">
    <h3>Group</h3>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" name="pet" id="pet1" class="custom-control-input">
        <label for="pet1" class="custom-control-label">Yes</label>
        <!-- /.custom-control-label -->
    </div>
    <!-- /.custom-control custom-radio -->
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" name="pet" id="pet2" class="custom-control-input">
        <label for="pet2" class="custom-control-label">No</label>
        <!-- /.custom-control-label -->
    </div>
<!-- /.custom-control custom-radio -->
</div>
<!-- /.form-group -->
<div class="form-group">
<select class="selectpicker" data-required="true">
    <option value="">Default value</option>
    <option value="val1">Value 1</option>
    <option value="val2">Value 2</option>
</select>
<!-- /.selectpicker -->
</div>
<!-- /.form-group -->
<div class="form-group">
    <label>Textarea</label>
    <textarea class="form-control" rows="3" data-required="true"></textarea>
</div>

