footer.footer_v1{
    background-color: $gray-800;
    border-top: 38px solid #4c168c;
    .container{
        &:first-of-type{
            .row{
                padding-top:60px;
            }
        }
    }
    .container-fluid{
        background-color: $gray-900;
        .row{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}