footer {
    img {
        max-width: 200px;
        max-height: 57px;
    }

    .copyright {
        font-family: $font-family-secondary;
        color: $white;

        a,
        a:hover,
        a:active,
        a:focus {
            color: $white;
        }
    }

    a,
    a:hover,
    a:active,
    a:focus {
        color: $white;
    }
}
