<footer style="background-image: url(http://avorum.test/app/uploads/2018/12/texture-copper-2.jpg)" class="mt-6">
    <div class="container">
        <div class="row lg-gutters text-white pt-4">
            <div class="col-12 col-md-auto">
                <img src="http://avorum.test/app/uploads/2018/12/avorum_logo_new.svg" alt="" class="mb-4" />
            </div>
            <!-- /.col -->
            <div class="col-6 col-md-auto">
                <small>Besöksadress</small>
                <ul class="list-unstyled mb-4">
                    <li>Stansargränd 6</li>
                    <li>721 30 Västerås</li>
                </ul>
            </div>
            <!-- /.col -->
            <div class="col-6 col-md-auto">
                <small>Kontakt</small>
                <ul class="list-unstyled mb-4">
                    <li>021-448 48 80</li>
                    <li>
                        <a href="mailto:info@avorum.se" class="text-white">info@avorum.se</a>
                    </li>
                </ul>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row lg-gutters text-white -->

        <div class="row">
            <div class="col text-center text-white-50 text-uppercase">
                <small class="copyright">Production:
                    <a class="text-white-50" href="https://grafikfabriken.nu">Grafikfabriken</a></small>
            </div>
            <!-- /.col text-center -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>